body {
  background: linear-gradient(135deg,#ffecd2,#fcb69f);
  font-family: Arial;
}

.card {
  width: 420px;
  margin: 60px auto;
  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.25);
  text-align: center;
}

input {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  background: orange;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.sweet {
  margin: 15px 0;
  padding: 12px;
  border-radius: 10px;
  background: #fff4e6;
}

.sweet button {
  margin: 5px;
}

.sold {
  color: red;
  font-weight: bold;
}
